body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 67, 108, 0.64);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.2rem;
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Syne Mono', monospace;*/
    /* font-family: 'Ubuntu Condensed', sans-serif; */
}